<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/estilos.css" />
    <script src="./js/Vue3.js"></script>
    <title>PROPS EN  VUE</title>
</head>

<body>
  <section id="seccion">
    <header>AGENDA DE CONTACTOS</header>

    <div class="container">
      <div class="contact-form">
        <label>Nombre:</label>
        <input type="text" id="nombre" v-model="nuevoContacto.nombre">
        <label>Teléfono:</label>
        <input type="text" id="telefono" v-model="nuevoContacto.telefono">
        <label >Categoría:</label>
        <select id="categoria" v-model="nuevoContacto.categoria" type="select">
          <option value="Familiar">Familiar</option>
          <option value="Amistad">Amistad</option>
          <option value="Trabajo">Trabajo</option>
          <option value="Conocido">Conocido</option>
        </select>
        <button @click="agregarContacto" class="add-button">Agregar</button>
      </div>
    
      </div>
  
    <div class="stats-container">
      <div class="stats">
        <p>Total de contactos: {{ contactos.length }}</p>
        <p>Total de mensajes: {{ totalMensajes }}</p>
        <p>Total de llamadas: {{ totalLlamadas }}</p>
        </div>
    </div>
  </div>


      <article id="tablaContactos">
          <table>
              <tr>
                  <th colspan="6"> LISTA DE CONTACTOS </th>
              </tr>

              <tr>
                  <th>🗑️</th>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Categoría</th>
                  <th>💬</th>
                  <th>📞</th>
              </tr>

              <tr v-for="(contacto, index) in contactos" :key="index">
                  <td>
                      <button @click="eliminarContacto(index)">Borrar</button>
                  </td>
                  
                  <td>{{ contacto.nombre }}</td>
                  <td>{{ contacto.telefono }}</td>
                  <td>{{ contacto.categoria }}</td>

                  <td>
                      <button @click="contacto.mensajes++" :disabled="contacto.mensajes >= 25">+</button>
                      {{ contacto.mensajes }}
                      <button @click="contacto.mensajes--" :disabled="contacto.mensajes <= 0">-</button>
                  </td>

                  <td>
                      <button @click="contacto.llamadas++" :disabled="contacto.llamadas >= 15">+</button>
                      {{ contacto.llamadas }}
                      <button @click="contacto.llamadas--" :disabled="contacto.llamadas <= 0">-</button>
                  </td>
              </tr>
          </table>
      </article>

  </section>

  <script src="./js/script.js"></script>
</body>

</html>

